<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
	  <h1 *ngIf="!accion_actualizar">
		 Ficha Técnica Pre-Prensa
		<small>Creación ficha técnica pre-prensa</small>
	  </h1>
	  
	  <h1 *ngIf="accion_actualizar">
		Ficha Técnica Pre-prensa id {{idficha}}
		<!-- <small>Actualizacion de los pedidos</small> -->
	  </h1>
	  <ol *ngIf="!accion_actualizar" class="breadcrumb">
		<li><i class="fa fa-dashboard"></i>Ficha Pre-prensa</li>
		<li class="active">Crear Pre-prensa</li>
	  </ol>
	  <ol *ngIf="accion_actualizar" class="breadcrumb">
		<li><i class="fa fa-dashboard"></i>Ficha Pre-prensa</li>
		<li class="active">Actualizar Pre-prensa</li>
	  </ol>
	</section>
  
	<!-- Main content -->
	  <section class="content">
  
	  <!-- Your Page Content Here -->
		  <div class="row">
			  <div class="col-xs-12">
				  <form class="validation fv-form fv-form-bootstrap" enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate">
					  <div class="box box-primary">
						  <div class="box-header text-center">
							  <h2 style="font-weight:bold;color:red" class="box-title text-center">DATOS GENERALES</h2>
						  </div>
						  <div class="box-body">
							  <div class="col-lg-12">
								  <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
								  <!-- <input type="hidden" name="spos_token" value="63b87f6a60dc5db5380a9ae6f8ae9725" style="display:none;"> -->
								  <div class="row">
									  <div class="col-md-6">
										  <div class="form-group">
											  <label for="reference">BUSQUEDA DE CLIENTE</label>
											  
											  <!-- <input type="text" placeholder="Ingrese razón social" name="razon social" value="" class="form-control tip" id="razon social" (keyup.enter)="busqueda_razon_social()"  [(ngModel)]="patron_cliente"> -->
											  <!-- <input type="submit" name="busqueda_razon_social" value="Buscar razon social" class="btn btn-primary" (click)="busqueda_razon_social()"> -->
											  
											  <div class="input-group">
												  <input   type="text" name="search_customer" id="search_customer" (keyup.enter)="busqueda_razon_social()"  [(ngModel)]="patron_cliente"  class="form-control ui-autocomplete-input" placeholder="Ingrese el nombre del cliente" autocomplete="off">
												  <div (click)="busqueda_razon_social()" class="input-group-addon no-print" style="padding: 2px 5px;">
													  <a id="add-customer" class="external"><i class="fa fa-2x fa-search" id="searchIcon"></i></a>
												  </div>							
											  </div>					
										  </div>
									  </div>
									  <div class="col-md-3">
										  <div class="form-group">
											  <label for="date">FECHA CREACION
											  <a *ngIf="!edit_fecha_creacion"  (click)="edit_fecha_creacion = true" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar fecha de creacion"></i></a> 
											  </label>
											  <input *ngIf="!edit_fecha_creacion" type="text" name="date" value="{{formato_fecha(this.fectra['value'])}}" class="form-control tip" id="date" required="required" disabled>
												  
										  
										  <mat-form-field *ngIf="edit_fecha_creacion">
										  <input matInput [matDatepicker]="picker" placeholder="Escoja fecha" [formControl]="fectra" name="fectra" >
										  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										  <mat-datepicker #picker></mat-datepicker>
										  </mat-form-field>
										  
										  </div>
									  </div>
								  </div>
								  <div class="form-group"  *ngIf="this.exist_razon_social">
									  <p>Resultado de la busqueda por <<{{this.patron_cliente}}>></p>
									  <div class="table-responsive-pedidos">
										  <table class="table table-striped table-bordered table-condensed table-hover dataTable">
										  <thead>
											  <tr class="active" role="row">
												  <th>Razon Social</th>
												  <th class="text-center">Tipo ident</th>
												  <th class="text-center">Num Identificacion</th>
												  <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
											  </tr>
										  </thead>
										  <tbody>
											  <tr  *ngFor="let rz of razon_social_lista;">
												  <td>{{rz.nomcli}}</td>
												  <td class="text-center">{{rz.tpIdCliente}}</td>
												  <td class="text-center">{{rz.rucced}}</td>
												  <td class="text-center"> 
												  <input  type="radio"  name="radio_cliente" (change)="select_razon_social(rz.tpIdCliente,rz.rucced,rz.nomcli,rz.email,rz.codcli,rz.dircli)"  />
												  
												  <!-- <input type="radio" name="optionsRadios" id="optionsRadios1" [(ngModel)]="check_agencia" (change)="validar_exist_agencia('P')"  value="principal"> -->
												  </td>
											  </tr>
											  </tbody>
										  </table>
									  </div>
								  </div>
								  <div class="row">
									  <div class="col-md-4">
										  <div class="form-group">
											  <label >RAZON SOCIAL</label>
											  <input *ngIf="!clientes" type="text" name="razon_social" id="razon_social" class="form-control ui-autocomplete-input" placeholder="RAZON SOCIAL" autocomplete="off" disabled>
											  <input *ngIf="clientes" type="text" name="razon_social" id="razon_social"   [(ngModel)]="razon_social"  class="form-control ui-autocomplete-input" placeholder="RAZON SOCIAL" autocomplete="off" disabled>
										  </div>
									  </div>
									  <div class="col-md-2">
										  <div class="form-group">
											  <label >RUC</label>
											  <input type="text" name="ruc" id="ruc"   [(ngModel)]="ruc"  class="form-control ui-autocomplete-input" placeholder="RUC" autocomplete="off" disabled>
										  </div>
									  </div>
									  <div class="col-md-4">
										<div class="form-group">
											<label >CONTACTO</label>
											<input type="text" name="contacto" id="contacto"   [(ngModel)]="contacto"  class="form-control ui-autocomplete-input" placeholder="CONTACTO" autocomplete="off">
										</div>
									</div>
								  </div>
								  <div class="row">
									  <div class="col-md-4">
										  <div class="form-group">
											  <label >PRODUCTO <span style="font-weight:bold;color:red">(*)</span></label>
											  <input type="text" name="producto" id="producto"   [(ngModel)]="producto"  class="form-control ui-autocomplete-input"  placeholder="PRODUCTO" autocomplete="off">
										  </div>
									  </div>
									  <div class="col-md-3">
										<div class="form-group">
											<label >PROVEEDOR</label>
											<input type="text" name="proveedor" id="proveedor"   [(ngModel)]="proveedor"  class="form-control ui-autocomplete-input" placeholder="PROVEEDOR" autocomplete="off">
										</div>
									</div>
									  <div class="col-md-2">
										  <div class="form-group">
											  <label >BUFFER</label>
											  <input type="text" name="buffer" id="buffer"   [(ngModel)]="buffer"  class="form-control ui-autocomplete-input"  placeholder="BUFFER" autocomplete="off" >
										  </div>
									  </div>

								  </div>
								  <div class="row">
									  <div class="col-md-3">
										  <div class="form-group">
											  <label >ENVIADO POR</label>
											  <input type="text" name="enviado_por" id="enviado_por"   [(ngModel)]="enviado_por"  class="form-control ui-autocomplete-input" placeholder="ENVIADO POR" autocomplete="off">
										  </div>
									  </div>
									  <div class="col-md-3">
										  <div class="form-group">
											  <label >VENDEDOR <span style="font-weight:bold;color:red">(*)</span></label>
											  <select name="vendedor" [(ngModel)]="vendedor" class="form-control select2 tip" style="width:100%;">
<!-- 												<option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
												<option *ngFor="let e of vendedores_lista; let i = index;" [value]="e.nomven">{{e.nomven}}</option>
											</select>
										  </div>
									  </div>
									  <div class="col-md-3">
										  <div class="form-group">
											  <label >ORDEN VENTA</label>
											  <input type="text" name="orden_venta" id="orden_venta"   [(ngModel)]="orden_venta"  class="form-control ui-autocomplete-input" placeholder="ORDEN VENTA" autocomplete="off">
										  </div>
									  </div>
									  <div class="col-md-3">
										  <div class="form-group">
											  <label >ENVIADO A</label>
											  <input type="text" name="enviado_a" id="enviado_a"   [(ngModel)]="enviado_a"  class="form-control ui-autocomplete-input"  placeholder="ENVIADO A" autocomplete="off" >
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
					  <div class="box box-primary">
						<div class="box-header text-center">
							<h2 style="font-weight:bold;color:red" class="box-title text-center">ESPECIFICACIONES GENERALES ARTE</h2>
						</div>
						  <div class="box-body">
							  <div class="row form-group">
								  <div class="col-md-4">
									<label >BUSQUEDA DE PRODUCTO</label>
									<div class="input-group">
										<input 	  type="text" name="buscart" id="buscart"  value="" placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL ARTÍCULO Y PRESIONAR LA TECLA ENTER" (keyup.enter)="busca_articulo()" [(ngModel)]="patron_articulo" class="form-control ui-autocomplete-input text-center " autocomplete="off">
										<div   (click)="busca_articulo()" class="input-group-addon no-print" style="padding: 2px 5px;" >
											<a id="add-customer" class="external"><i class="fa fa-2x fa-search" id="searchIcon"></i></a>
										</div>
									</div>
<!-- 							      <label >CODIGO ETIQUETA</label>
									  <input type="text" name="codart" id="codart"   [(ngModel)]="codart" class="form-control ui-autocomplete-input" autocomplete="off"> -->
								  </div>
								  <div class="col-md-8">
									<label >ETIQUETA <span style="font-weight:bold;color:red">(*)</span></label>
									<input  type="text" name="nombre_etiqueta" id="nombre_etiqueta"   [(ngModel)]="nombre_etiqueta"  class="form-control ui-autocomplete-input" placeholder="PRODUCTO DE LA FICHA TECNICA" autocomplete="off" disabled>
								  </div>
								</div>
<!-- 								<div class="form-group"  *ngIf="this.exist_razon_social"> -->
								<div class="form-group" *ngIf="this.exist_articulo">
									<p>Resultado de la busqueda por <<{{this.patron_articulo}}>></p>
									<div class="table-responsive-pedidos">
										<table class="table table-striped table-bordered table-condensed table-hover dataTable">
										<thead>
											<tr class="active" role="row">
												<th>Codigo</th>
												<th class="text-center">Producto</th>
												<th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
											</tr>
										</thead>
										<tbody>
											<tr  *ngFor="let rz of articulo;">
												<td>{{rz.codart}}</td>
												<td class="text-center">{{rz.nomart}}</td>
												<td class="text-center"> 
												<input  type="radio"  name="radio_cliente" (change)="select_producto(rz.codart,rz.nomart)"  />
												
												<!-- <input type="radio" name="optionsRadios" id="optionsRadios1" [(ngModel)]="check_agencia" (change)="validar_exist_agencia('P')"  value="principal"> -->
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>


								<div class="row form-group">
								  <div class="col-md-4">
									  <label >MATERIA PRIMA 1 <span style="font-weight:bold;color:red">(*)</span></label>
									  <input type="text" name="mat_prima1" id="mat_prima1"   [(ngModel)]="mat_prima1"  class="form-control ui-autocomplete-input" placeholder="MAT PRIMA 1" autocomplete="off">
								  </div>
								  <div class="col-md-4">
									<label >MATERIA PRIMA 2</label>
									<input type="text" name="mat_prima2" id="mat_prima2"   [(ngModel)]="mat_prima2"  class="form-control ui-autocomplete-input" placeholder="MAT PRIMA 2" autocomplete="off">
								  </div>
								  <div class="col-md-2">
									<label >MAQUINA</label>
									<input type="text" name="maquina" id="maquina"   [(ngModel)]="maquina"  class="form-control ui-autocomplete-input" placeholder="maquina" autocomplete="off">
								  </div>
<!-- 								  <div class="col-md-1">
									  <label >COLORES</label>
									  <select *ngIf="accion_actualizar"  name="color_ls" [(ngModel)]="color_seleccionado" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										  <option *ngFor="let e of color_lista; let i = index;" [value]="e.color_ls">{{e.nom_doc}}</option>
									  </select>
									  <select *ngIf="!accion_actualizar"  name="color_ls" [(ngModel)]="color_seleccionado" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										  <option *ngFor="let e of color_lista; let i = index;" [value]="e.color_ls">{{e.nom_doc}}</option>
									  </select>
								  </div> -->
<!-- 								  <div class="col-md-2">
									  <label >REP. DES</label>					
									  <input type="number" name="rep_des" id="rep_des"   [(ngModel)]="rep_des"  class="form-control ui-autocomplete-input" placeholder="##" autocomplete="off" [min]="1">
								  </div> -->
  <!-- 								<div class="col-md-1">
									  <label >FILAS</label>
									  <input type="number" name="filas" id="filas"   [(ngModel)]="filas"  class="form-control ui-autocomplete-input" placeholder="cm" autocomplete="off" [min]="1">
								  </div> -->
								  <div class="col-md-2">
									  <label >ANCHO (MM) <span style="font-weight:bold;color:red">(*)</span></label>
									  <input type="number" name="ancho" id="ancho"   [(ngModel)]="ancho"  class="form-control ui-autocomplete-input" placeholder="mm" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >No CILINDRO</label>
									<input type="number" name="no_cilindro" id="no_cilindro"   [(ngModel)]="no_cilindro"  class="form-control ui-autocomplete-input" placeholder="No Cilindro" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >GAP ANCHO <span style="font-weight:bold;color:red">(*)</span></label>
									<input type="number" name="gap_ancho" id="gap_ancho" [(ngModel)]="gap_ancho"  class="form-control ui-autocomplete-input" placeholder="Gap Ancho" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >REP ANCHO<span style="font-weight:bold;color:red">(*)</span></label>
									<input type="number" name="rep_ancho" id="rep_ancho"   [(ngModel)]="rep_ancho"  class="form-control ui-autocomplete-input" placeholder="Rep ancho" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >TROQUEL</label>
									<input type="text" name="troquel" id="troquel"   [(ngModel)]="troquel"  class="form-control ui-autocomplete-input" placeholder="Troquel" autocomplete="off">
								  </div>
								  <div class="col-md-2">
									<label >AVANCE (MM) <span style="font-weight:bold;color:red">(*)</span></label>
									<input type="number" name="avance" id="avance"   [(ngModel)]="avance"  class="form-control ui-autocomplete-input" placeholder="Avance" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >DESARROLLO CILINDRO</label>
									<input type="number" name="desarrollo_cilindro" id="desarrollo_cilindro"   [(ngModel)]="desarrollo_cilindro"  class="form-control ui-autocomplete-input" placeholder="Desarrollo cilindro" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >GAP AVANCE</label>
									<input type="number" name="gap_avance" id="gap_avance"   [(ngModel)]="gap_avance"  class="form-control ui-autocomplete-input" placeholder="Gap avance" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >REPETICIONES AVANCE</label>
									<input type="number" name="rep_avance" id="rep_avance"   [(ngModel)]="rep_avance"  class="form-control ui-autocomplete-input" placeholder="Repeticiones avance" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >TIPO</label>
									<input type="text" name="tipo" id="tipo"   [(ngModel)]="tipo"  class="form-control ui-autocomplete-input" placeholder="Tipo" autocomplete="off">
								  </div>
								  <div class="col-md-2">
									<label >FORMA</label>
									<input type="text" name="forma" id="forma"   [(ngModel)]="forma"  class="form-control ui-autocomplete-input" placeholder="Forma" autocomplete="off">
								  </div>
								  <div class="col-md-2">
									<label >TIPO IMPRESION EX</label>
									<select  name="tipo_impresion_ex" [(ngModel)]="tipo_impresion_ex" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										<option *ngFor="let e of impresion_ex_lista; let i = index;" [value]="e.tipo_impresion_ex">{{e.tipo_impresion_ex}}</option>
									</select>
								  </div>
								  <div class="col-md-2">
									<label >MUESTRA</label>
									<select  name="muestra" [(ngModel)]="muestra" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										<option *ngFor="let e of lista_si_no; let i = index;" [value]="e.valor">{{e.valor}}</option>
									</select>
								  </div>
								  <div class="col-md-2">
									<label >CORTE SEGURIDAD</label>
									<input type="text" name="corte_seg" id="corte_seg"   [(ngModel)]="corte_seg"  class="form-control ui-autocomplete-input" placeholder="Corte seguridad" autocomplete="off">
								  </div>
								  <div class="col-md-2">
									<label >LAYFLAT (MM)</label>
									<input type="number" name="layflat" id="layflat"   [(ngModel)]="layflat"  class="form-control ui-autocomplete-input" placeholder="LAYFLAT" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >ANCHO DEL ROLLO</label>
									<input type="number" name="ancho_rollo" id="ancho_rollo"   [(ngModel)]="ancho_rollo"  class="form-control ui-autocomplete-input" placeholder="ancho_rollo" autocomplete="off" [min]="1">
								  </div>
								  <div class="col-md-2">
									<label >EXISTE CLICHE</label>
									<select  name="existe_cliche" [(ngModel)]="existe_cliche" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										<option *ngFor="let e of lista_si_no; let i = index;" [value]="e.valor">{{e.valor}}</option>
									</select>
								  </div>
								  <div class="col-md-2">
									<label >ETIQUETA FILA CLIENTE</label>
									<input type="text" name="etiq_fila_cliente" id="etiq_fila_cliente"   [(ngModel)]="etiq_fila_cliente"  class="form-control ui-autocomplete-input" placeholder="Etiq fila cliente" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >ETIQUETA FILA PRODUCCION</label>
									<input type="text" name="etiq_fila_produccion" id="etiq_fila_produccion"   [(ngModel)]="etiq_fila_produccion"  class="form-control ui-autocomplete-input" placeholder="Etiq fila produccion" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >TIPO DE TINTA</label>
									<input type="text" name="tipo_tinta" id="tipo_tinta"   [(ngModel)]="tipo_tinta"  class="form-control ui-autocomplete-input" placeholder="Tipo de tinta" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >TIPO DE CORTE</label>
									<input type="text" name="tipo_corte" id="tipo_corte"   [(ngModel)]="tipo_corte"  class="form-control ui-autocomplete-input" placeholder="Tipo de corte" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >ACABADO 1</label>
									<input type="text" name="acabado1" id="acabado1"   [(ngModel)]="acabado1"  class="form-control ui-autocomplete-input" placeholder="Acabado 1" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >ACABADO 2</label>
									<input type="text" name="acabado2" id="acabado2"   [(ngModel)]="acabado2"  class="form-control ui-autocomplete-input" placeholder="Acabado 2" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >ACABADO 3</label>
									<input type="text" name="acabado3" id="acabado3"   [(ngModel)]="acabado3"  class="form-control ui-autocomplete-input" placeholder="Acabado 3" autocomplete="off">
								  </div>
								  <div class="col-md-3">
									<label >ACABADO 4</label>
									<input type="text" name="acabado4" id="acabado4"   [(ngModel)]="acabado4"  class="form-control ui-autocomplete-input" placeholder="Acabado 4" autocomplete="off">
								  </div>
<!-- 								  <div class="col-md-3">
									  <label >FORMATO ETIQUETA</label>
									  <select *ngIf="accion_actualizar" name="formato_etiqueta" [(ngModel)]="formato_seleccionado" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										  <option *ngFor="let e of formato_etiqueta; let i = index;" [value]="e.tipo_etiqueta">{{e.nom_doc}}</option>
									  </select>
									  
									  <select *ngIf="!accion_actualizar"  name="formato_etiqueta" [(ngModel)]="formato_seleccionado" class="form-control select2 tip" style="width:100%;font-weight:bold;">
										  <option *ngFor="let e of formato_etiqueta; let i = index;" [value]="e.tipo_etiqueta">{{e.nom_doc}}</option>
									  </select>
								  </div> -->
							  </div>  
						  </div>
					  </div>
	

					  <div class="row">
						<div class="col-md-6">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">
										OBSERVACIONES
									</h3>
								</div>
								<div class="box-body">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<textarea [(ngModel)]="observacion"  name="observacion"  rows="5" cols="5" placeholder="Puede escribir observaciones del la ficha tecnica"  value="" class="pa form-control kb-text"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="box-header with-border">
									<h3 class="box-title">
										GENERACION DE OP
									</h3>
								   </div>
								   <div class="box-body">
										<div class="col-lg-12">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="category">REQUIERE CLICHE</label>                              
														<select name="requiere_cliche" [(ngModel)]="requiere_cliche" class="form-control select2 tip" style="width:100%;">
															<option *ngFor="let e of lista_si_no; let i = index;" [value]="e.valor">{{e.valor}}</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>

						  <div class="col-md-6">
							  <div class="box box-primary">
								  <div class="box-header with-border">
									  <h3 class="box-title">
										  SENTIDO DE SALIDA
									  </h3>
								  </div>
								  <div class="box-body">
									  <div class="col-lg-12">
										  <div class="row">
											  <div class="col-md-6">
												  <div class="form-group">
													  <label for="category">EMBOBINADO EXTERIOR</label>                             
													  <select name="emboext_ls" [(ngModel)]="embon_ext" class="form-control select2 tip" style="width:100%;">
<!-- 														  <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
														  <option *ngFor="let e of emboext_lista; let i = index;" [value]="e.emboext_ls">{{e.nom_doc}}</option>
													  </select>
												  </div>
											  </div>
											  <div class="col-md-6">
												  <div class="form-group">
													  <label for="category">EMBOBINADO INTERIOR</label>                              
													  
													  <select name="emboint_ls" [(ngModel)]="embon_int" class="form-control select2 tip" style="width:100%;">
<!-- 														  <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
														  <option *ngFor="let e of emboint_lista; let i = index;" [value]="e.emboint_ls">{{e.nom_doc}}</option>
													  </select>
												  </div>
											  </div>
										  </div>
									  </div>
								  </div>


							  </div>
						  </div>
					  </div>
					  <div class="box box-primary">
						  <div class="box-body">
							  <div class="box-header with-border">
								  <h3 class="box-title">
									  FIRMAS
								  </h3>
							  </div>
							  <div class="col-lg-12">
								  <div class="row">
									  <div class="col-md-12">
										  <div class="form-group">
										  </div>
									  </div>
								  </div>
								  <div class="row">
<!-- 									  <div class="col-md-3">
										  <div class="form-group">
											  <label >EJECUTIVO DE VENTAS</label>
											  <input *ngIf="isOtroResponsableSeleccionado" type="text" name="ejecutivo_ventas" id="ejecutivo_ventas"   [(ngModel)]="ejecutivo_ventas"  class="form-control ui-autocomplete-input" placeholder="DISPENSADO" autocomplete="off">
											  <select name="ejecutivo_ventas" [(ngModel)]="ejecutivo_ventas" class="form-control select2 tip" style="width:100%;">
												  <option [ngValue]="undefined" disabled  selected>Seleccione</option>
												  <option *ngFor="let e of impresor_lista; let i = index;" [value]="e.usuario">{{e.usuario}}</option>
											  </select>
										  </div>
									  </div> -->
									  <div class="col-md-6">
										  <div class="form-group">
											  <label >SOLICITADO POR <span style="font-weight:bold;color:red">(*)</span></label>
											  <select name="solicitado_por" [(ngModel)]="solicitado_por" class="form-control select2 tip" style="width:100%;">
												  <option [ngValue]="undefined" disabled  selected>Seleccione</option>
												  <option *ngFor="let e of impresor_lista; let i = index;" [value]="e.usuario">{{e.usuario}}</option>
											  </select>
										  </div>
									  </div>
									  <div class="col-md-6">
										  <div class="form-group">
											  <label >AUTORIZADO POR <span style="font-weight:bold;color:red">(*)</span></label>
											  <select name="autorizado_por" [(ngModel)]="autorizado_por" class="form-control select2 tip" style="width:100%;">
												  <option [ngValue]="undefined" disabled  selected>Seleccione</option>
												  <!--<option *ngFor="let e of supervisor_lista; let i = index;" [value]="e.usuario">{{e.usuario}}</option>-->
												  <option *ngFor="let e of impresor_lista; let i = index;" [value]="e.usuario">{{e.usuario}}</option>
											  </select>
										  </div>
									  </div>
<!-- 									  <div class="col-md-3">
										  <div class="form-group">
											  <label >JEFE DE PRODUCCION</label>
											  <select name="jefe_prod" [(ngModel)]="jefe_prod" class="form-control select2 tip" style="width:100%;">
												  <option [ngValue]="undefined" disabled  selected>Seleccione</option>
												  <option *ngFor="let e of impresor_lista; let i = index;" [value]="e.usuario">{{e.usuario}}</option>
											  </select>
										  </div>
									  </div> -->
								  </div>
								  <div class="form-group">
									  <!-- <input *ngIf=""  #generar_pe type="submit" (click)="generar_pedido()" disabled name="add_purchase" value="Generar pedido" class="btn btn-primary"> -->
									  <!-- *ngIf="!accion_actualizar" -->
									  <!--<input *ngIf="articulos_pedido.length > 0 && !accion_actualizar" #generar_pe type="submit" (click)="generar_pedido()"  name="add_purchase" value="Generar pedido" class="btn btn-primary">-->
									  <input *ngIf="!accion_actualizar" #generar_pe type="submit" (click)="generar_ficha_tecnica_preprensa()"  name="add_purchase" value="Generar Ficha Tecnica" class="btn btn-primary">
									  <input *ngIf="accion_actualizar" #actualizar_pe type="submit" (click)="actualizar_FichaTecnicaPreprensa()"  name="add_purchase" value="Actualizar Ficha Tecnica" class="btn btn-primary">
									  <input  #regresar_lista  routerLink="/admin/lista_fichapreprensa" [queryParams]="{usuario:usuario,empresa:empresa}" type="submit"  name="add_purchase" value="Ir a lista fichas" class="btn btn-danger">
									  <!-- <input routerLink="/admin/lista_recibos" [queryParams]="{usuario:usuario}" type="submit"  name="add_purchase" value="Ir a lista de recibos" class="btn btn-danger"> -->
								  </div>
								  <div class="clearfix"></div>
							  </div>
						  </div>
					  </div>
				  </form>
			  </div>
		  </div>
	  </section>
	<!-- /.content -->
  </div>
  